$def-font-stack : 'Poppins', sans-serif;
$selector-stack	: 'Orbitron', sans-serif;

$default-back   : #4E8098;
$wordcloud-back	: #FFF;

$land-color	: #CCDBDC;

$inf-clr	: #A31621;
$warn-clr	: #FAA916;
$def-clr	: #97CCF4;
