svg#map-viz {
	rect#background { fill: transparent; }
	g#geojson-wrapper {
		g.province {
			path { fill: $land-color; stroke: $default-back; }
			&.unintended path { fill-opacity: .15; }

			&.inflate path { fill: $inf-clr; }
			&.deflate path { fill: $def-clr; }
			&.warning path { fill: $warn-clr; }
		}
	}
	text#back-button { fill: $land-color; text-decoration: underline; font-size: 13px; }
}
