$title-height	: 40px;

#wordcloud-wrapper {
	min-width: 1000px; width: 55%; height: 70%;
	position: absolute; left: 50%; top: calc(100% - 50px); @include transform(translateX(-50%));
	z-index: 28; background: $wordcloud-back; border-radius: 10px;
	color: black;
	@include transition(all .5s); transition-timing-function: ease-out;
	#wordcloud-title {
		text-align: center; font-size: 14px; line-height: $title-height;
		border-bottom: 1px solid #{$default-back};
		span.typcn { font-size: 20px; line-height: $title-height; position: absolute; right: 15px; color: $default-back; }
	}
	#wordcloud-content {
		width: 100%; height: calc(100% - #{$title-height} - 1px);
		display: flex; flex-wrap: wrap; flex-direction: row;
		text { fill: $default-back; }
		& > div {
			display: flex; flex-basis: calc(50% - .5px); flex-direction: column;
			&:nth-child(odd) { border-right: 1px solid rgba($default-back, .35); }
			&:first-child, &:first-child + div { border-bottom: 1px solid rgba($default-back, .35); }

			div.horseman-title { line-height: $title-height; text-align: center; }
			div.horseman-content { flex: 2; }
		}
	}
	&.opened { top: 17.5%; }
}
